<div class="project-card">
    <div class="card-header">
        <div class="badges-wrapper">
            {% if projeto.status == 'reproved' %}
                <span class="status-badge outline-red">Reprovado / Ajustes</span>
            {% elif projeto.status == 'pending_approval' %}
                <span class="status-badge outline-yellow">Pendente de aprovação</span>
            {% elif projeto.status == 'in_progress' %}
                <span class="status-badge outline-blue">Em Desenvolvimento</span>
            {% elif projeto.status == 'completed' %}
                <span class="status-badge outline-green">Concluído</span>
            {% endif %}
            <span class="floating-tag">{{ projeto.get_type_display }}</span>
        </div>
        <button class="btn-more-options" title="Denunciar/Excluir"
                onclick="openDeleteModal('{{ projeto.id }}', '{{ projeto.title|escapejs }}')">
            <i class="ph ph-flag"></i>
        </button>
    </div>

    <h3 class="card-title">{{ projeto.title }}</h3>

    <p class="card-desc">
        {{ projeto.description|striptags|safe|truncatechars:120 }}
        <a href="{% url 'project_details' pk=projeto.id %}">VER MAIS</a>
    </p>

    <div class="card-tags">
        {% for tag in projeto.tags.all|slice:":3" %}
            <span class="tag">{{ tag.name }}</span>
        {% empty %}
            <span class="tag no-tags">Sem tags</span>
        {% endfor %}
    </div>

    <div class="card-members">
        <p class="members-label">Integrantes:</p>
        {% for member in projeto.members.all|slice:":2" %}
            <div class="member-row">
                <span class="avatar-mini">
                    {% if member.image %}
                        <img src="{{ member.image.url }}" class="avatar-image">
                    {% else %}
                        {{ member.full_name|default:"?"|slice:":2"|upper }}
                    {% endif %}
                </span>
                <span>{{ member.full_name|default:"Usuário" }}</span>
            </div>
        {% endfor %}
        {% if projeto.members.count > 2 %}
            <small class="extra-members">+ {{ projeto.members.count|add:"-2" }} outro(s)</small>
        {% endif %}
    </div>

    <div class="card-meta">
        {% with ultimo_feedback=projeto.get_latest_feedback %}
            {% if ultimo_feedback %}
                Submetido em: {{ ultimo_feedback.created_at|date:"d/m/Y" }}
            {% else %}
                Submetido em: {{ projeto.created_at|date:"d/m/Y" }}
            {% endif %}
        {% endwith %}
    </div>

    <div class="card-footer">
        <button class="btn-cancel" onclick='window.location.href="{% url "project_details" pk=projeto.id %}"'>Ver detalhes</button>
        <button class="btn-confirm" onclick="openModal()">Confirmar avaliação</button>
    </div>
</div>