<article class="feed-card">
    <div class="card-image-box">
        {% if projeto.image %}
            <img src="{{ projeto.image.url }}" alt="Capa do projeto {{ projeto.title }}">
        {% else %}
            <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=1000&auto=format&fit=crop" alt="Capa padrão">
        {% endif %}
        
        <div class="card-badges-container">
            <span class="floating-tag">{{ projeto.get_type_display }}</span>
            <span class="status-badge 
                {% if projeto.status == 'pending_approval' %}
                    outline-yellow
                {% elif projeto.status == 'in_progress' %}
                    outline-blue
                {% elif projeto.status == 'completed' %}
                    outline-green
                {% endif %}">
                {{ projeto.get_status_display }}
            </span>
        </div>
    </div>

    <div class="card-content">
        <div class="author-row">
            <div class="avatar-mini">
                {% if projeto.members.first.image %}
                     <img src="{{ projeto.members.first.image }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                {% else %}
                    {{ projeto.members.first.full_name|default:"?"|slice:":2"|upper }}
                {% endif %}
            </div>
            <div class="author-info">
                <strong>{{ projeto.members.first.full_name|default:"Autor não informado" }}</strong>
                <span>
                    <i class="ph ph-calendar-blank"></i> {{ projeto.created_at|date:"d/m/Y" }}
                </span>
            </div>
        </div>

        <h2 class="project-title">{{ projeto.title }}</h2>
        <p class="project-desc">
            {{ projeto.description|striptags|safe|truncatechars:120 }}
        </p>

        <div class="tags-row">
            {% for tag in projeto.tags.all %}
                <span class="tech-tag">{{ tag.name }}</span>
            {% empty %}
                <span class="tech-tag muted">Sem tags</span>
            {% endfor %}
        </div>

        <div class="card-footer">
            <div class="members-info">
                <i class="ph ph-users"></i> {{ projeto.members.count }} membro(s)
            </div>

            <div class="actions-right">
                <div class="stats-icons">
                    {% include 'components/cards/project_parts/interaction_btns.html' %}
                </div>
                <a href="{% url 'project_details' pk=projeto.id %}" class="btn-details">
                    Ver Detalhes <i class="ph ph-arrow-up-right"></i>
                </a>
            </div>
        </div>
    </div>
</article>