{% load static %}
<section class="card card-accent accent-gray">
    <div class="card-header">
        <span><i class="ph-fill ph-github-logo"></i></span>
        <h3>Repositório GitHub</h3>
    </div>

    <div class="card-body">
        <div class="repo-link">
            <input type="text" value="https://github.com/ayrton/projecthub" disabled>
            <span><i class="ph-fill ph-arrow-square-out"></i></span>
        </div>

        <div class="github-banner">
            <div class="image-github">
                <img src="{% static 'img/imagem-gitHub.png' %}" alt="imagem GitHub">
            </div>
        </div>
    </div>
</section>
