{% load static %}
<section class="card card-accent accent-gray">
    <div class="card-header">
        <span><i class="ph-fill ph-users"></i></span>
        <h3>Integrantes</h3>
    </div>

    <div class="card-body">
        <ul class="user-list">
            <li><span class="avatar">AC</span> Ayrton Cavalcante</li>
            <li><span class="avatar">MF</span> Murilo Fontes</li>
            <li><span class="avatar">EO</span> Eduardo Oliveira</li>
            <li><span class="avatar">NM</span> Nathan Moniçoba</li>
        </ul>
    </div>
</section>