{% load static %}
<nav class="tabs-nav">

   <a href="{% url 'project_details' project.id %}"
      class="tab-link {% if request.resolver_match.url_name == 'project_details' %}active{% endif %}">
      Informações Gerais
   </a>

   <a href="{% url 'student_comments' %}"
      class="tab-link {% if request.resolver_match.url_name == 'student_comments' %}active{% endif %}">
      Comentários de usuários
   </a>

   <a href="{% url 'teacher_comments' %}"
      class="tab-link {% if request.resolver_match.url_name == 'teacher_comments' %}active{% endif %}">
      Avaliações de Professores
   </a>


</nav>
