{% load static %}
<section class="card card-accent accent-gray">
    <div class="card-header">
        <span><i class="ph-fill ph-graduation-cap"></i></span>
        <h3>Professor Orientador</h3>
    </div>

    <div class="card-body">
        <ul class="user-list">
            {% for p in project.orientators.all %}
            <li>
                <a href="#">
                    <span class="avatar ac">AC</span>
                    {{ p }} <small>{{ p.course.name }}</small>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
