<button class="base_container {% block class_name %}{% endblock class_name %}">{% block button_name %}{% endblock button_name %}</button>

<style>
    .base_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border: none;
        height: 20px;
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

    .cancel {
        background-color: #F5474A;
    }

    .green {
        background-color: #50CE67;
    }

    .goto_profile {
        width: 90%;
    }

    .close_publish_modal {
        width: 90%;
        color: #4B4B4D;
        background-color: #CACACA;
    }
</style>