{% if btn %}
    <button class="base_container {{ classes }}">
        {{ label }}
    </button>
{% else %}
    <a href="{{ url }}" class="base_container {{ classes }}">
        {{ label }}
    </a>
{% endif %}

<style>
    .base_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  16px;
        border: none;
        height: 25px;
        border-radius: 10px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    .cancel {
        background-color: #F5474A;
    }

    .green {
        background-color: #50CE67;
    }

    .goto_my_projects {
        width: 90%;
    }

    .publish_btn {
        width: 90%;
    }

    .close_publish_modal {
        width: 90%;
        color: #4B4B4D;
        background-color: #CACACA;
    }
</style>