<button class="see_details {% if min_width %}with_min_width{% endif %}">
    <h4>Ver detalhes</h4>
</button>

<style>
    .see_details {
        width: 240px;
        padding: 4px 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #50CE67;
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }

    .see_details.with_min_width {
        width: 130px !important;
    }

    .see_details h4 {
        font-weight: 700;
    }

    @media screen and (max-width: 324px) {
        .see_details {
            width: 100%;
            font-size: 12px;
            padding: 0px;
            margin-top: 10px;
        }

        
    }
</style>