
.project {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
    background-color: white;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.max_width {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
}

.project_image {
    width: 50px;
    height: 50px;
    background-color: #ECF9EE;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50CE67;
}

.name_project {
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
} 

.name_project .date {
    font-size: 12px;
    color: #AAA;
}

.status_project {
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    min-height: 27px;
    border-radius: 10px;
    background-color: #50CE67;
}

.collaborators_and_docs {
    display: flex;
    flex-direction: column;
    color: #6D6D78;
}

.collaborator {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.collaborator img {
    width: 25px;
    height: 25px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links.column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.link {
    display: flex;
    gap: 5px;
    font-size: 13px;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #50CE67;
}

.link a:hover {
    text-decoration: underline;
}

.collaborators_links {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.actions {
    display: flex;  
    padding-top: 20px;
    gap: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 2px solid #E6E6E6;
}

.spaced {
    justify-content: space-between;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content .description {
    font-size: 14px;
    color: #6F6F74;
}

.content .description b {
    color: #50CE67;
}

.tags_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    background-color: #ECF9EE;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px;
    height: 24px;
    color: #50CE67;
}

.edit_project, .remove_project {
    width: 35px;
    height: 35px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit_project img, .remove_project img {
    width: 25px;
    height: 25px;
}

/* RESPONSIVIDADE MOBILE */
@media screen and (max-width: 324px) {
    .project {
        width: 80%;
        padding: 15px;
        border-radius: 0;
    }

    .header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .name_project {
        font-size: 14px;
        text-align: center;
    }

    .status_project {
        min-width: 50%;
        font-size: 12px;
    }

    .collaborators_and_docs {
        font-size: 12px;
    }

    .links {
        flex-direction: column;
        gap: 8px;
    }

    .link {
        font-size: 12px;
    }

    .actions {
        padding-top: 0;
        gap: 0;
        width: 50%;
    }

    .edit_project, .remove_project {
        width: 30px;
        height: 30px;
    }

    .edit_project img, .remove_project img {
        width: 20px;
        height: 20px;
    }

    .collaborators_links {
        flex-direction: column;
        gap: 40px;
    }

    .footer {
        flex-wrap: nowrap;
    }

}