body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: auto;
}

/* 1. Profile container */
.profile-container {
    width: 95vw;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/* 2. Header */
.profile-header {
    background-color: #04DC94;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.main-info {
    display: flex;
    gap: 20px;
    max-width: 750px;
}

.profile-photo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    object-fit: cover;
    align-self: center;
}

.profile-texts {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    font-size: 0.9em;
}

.github-link {
    text-decoration: none;
    color: white;
}

.edit-button {
    background-color: white;
    color: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.user-name {
    margin: 0;
    font-size: 34px;
}

.username {
    margin: 5px 0;
    color: #ecf0f1;
    font-size: 18px;
}

.profile-bio {
    margin: 5px 0;
    font-size: 16px;
}

/* 3. Statistics section */
.statistics {
    padding: 0 40px;
    margin-top: 0px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.stat-card {
    width: 170px;
    height: 165px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-description {
    margin-top: 10px;
}

.icon-green {
    color: #50CE67;
    background-color: rgba(80, 206, 103, 0.27);
    font-size: 40px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-blue {
    color: #3098E8;
    background-color: rgba(56, 158, 236, 0.27);
    font-size: 40px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-red {
    color: #E23C3C;
    background-color: rgba(206, 80, 80, 0.27);
    font-size: 40px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-black {
    color: #FFFFFF;
    background-color: rgba(10, 10, 10, 0.85);
    font-size: 40px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.number {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
}

.description {
    font-size: 17px;
    color: #777;
}

/* 4. Published Projects */
.published-projects {
    padding: 20px 40px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.filters {
    display: flex;
    gap: 15px;
}

/* Select dropdown style */
.selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    height: 42px;
    width: 180px;
    border-radius: 20px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    padding: 0 15px;
    padding-right: 30px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    outline: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23999999' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 10px;
}

.title-group {
    display: flex;
    flex-direction: column;
}

.title-group h2 {
    margin-bottom: 0;
    font-size: 24px;
}

.title-group .subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #777;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #F4F4F6;
    border-radius: 25px;
    border: none;
    box-shadow: 0 1px 3px rgba(10, 10, 10, 0.55);
    padding: 0 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    height: 100%;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
}

.search-icon {
    color: #999;
    font-size: 18px;
    margin-right: 10px;
}

.project-card {
    max-width: 100%;
    background-color: white;
    border: 1px solid #E3E3E8;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 23px;
}

.project-info p {
    margin: 0;
    font-size: 14px;
    color: #6D6D78;
    margin-bottom: 5px;
}

.tags {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.tag {
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.75em;
    font-weight: bold;
}

.tag-django { background-color: #E4FFE8; color: #50CE67; }
.tag-html { background-color: #E4FFE8; color: #50CE67; }
.tag-js { background-color: #E4FFE8; color: #50CE67; }

.metadata {
    display: flex;
    gap: 20px;
    font-size: 0.8em;
    color: #777;
}

.likes-meta,
.comments-meta,
.date-meta {
    font-size: 14px;
}

.details-button {
    background-color: #2ecc71;
    color: white;
    align-self: flex-start;
    border: none;
    padding: 8px 15px;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
}
