{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Hub - Cadastro</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
    <link rel="stylesheet" href="{% static 'base_files/header_createproject.css' %}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>

    <header class="header">
        {% include 'components/base_files/header_createproject.html' %}
    </header>

    <div class="main-container">
        
        <div class="form-container">
            {% include 'components/register_project/form.html' %}
        </div>

        <div class="preview-container">
            {% include 'components/register_project/preview.html' %}
        </div>
    
    </div> 
    
    <script src="{% static 'base_files/cadastro.js' %}"></script>

</body>
</html>