{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios Alunos</title>
    <link rel="stylesheet" href="{% static 'css/detalhes_projetos.css' %} ">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body>
    
    <div class="top-container">
        {% include 'components/details/header.html' %}
        {% include 'components/details/tabs.html' %}
    </div>
    
    {% include 'components/details/coments/coments_alunos.html' %}

</body>
</html>