{% extends 'components/base_files/base_detail_comments.html' %}
{% load static %}

{% block title %}Avaliações dos Professores{% endblock %}

{% block form_content %}
    <h3>Avaliar como Professor</h3>
    <p>Forneça uma avaliação acadêmica do projeto</p>
    
    <form action="#" method="post" class="feedback-form">
        <textarea placeholder="Escreva seu comentário..."></textarea>
        <button type="submit" class="btn-submit">Publicar Avaliação</button>
    </form>
{% endblock form_content %}

{% block discussion_content %}
    <div class="discussion-header">
        <i class="ph-fill ph-graduation-cap"></i>
        <h3>Avaliações dos Professores</h3>
        <span>3 Avaliações</span>
    </div>

    <ul class="discussion-thread">
        <li class="post-item">
            <div class="post-author">
                <a href="#"><span class="avatar">AC</span></a>
                <div class="post-author-details">
                    <a href="#"><strong>Thiago Henrique</strong></a>
                    <small>01/10/2025</small>
                </div>
            </div>
            <p class="post-body">
                Excelente projeto! O front-end é brabo, a interface está perfeita.
            </p>
        </li>
        
        <li class="post-item">
            <div class="post-author">
                <a href="#"><span class="avatar">AC</span></a>
                <div class="post-author-details">
                    <a href="#"><strong>Thiago Henrique</strong></a>
                    <small>01/10/2025</small>
                </div>
            </div>
            <p class="post-body">
                Excelente projeto! O front-end é brabo, a interface está perfeita.
            </p>
        </li>

        <li class="post-item">
            <div class="post-author">
                <a href="#"><span class="avatar">AC</span></a>
                <div class="post-author-details">
                    <a href="#"><strong>Thiago Henrique</strong></a>
                    <small>01/10/2025</small>
                </div>
            </div>
            <p class="post-body">
                Excelente projeto! O front-end é brabo, a interface está perfeita.
            </p>
        </li>
    </ul>
{% endblock discussion_content %}
