{% extends 'components/base_files/my_projects_and_feed.html' %}

{% load static %}

{% block title %}
    Feed
{% endblock title %}

{% block imports %}
    <!-- <link rel="stylesheet" href="{% static 'components/project/project.css' %}"> -->
{% endblock imports %}

{% block content %}
    <div class="container_projects">

        {% for _ in contador_list %}
            {% include 'components/cards/project/project.html' with max_width=True column=True %}
        {% endfor %}
    </div>
{% endblock content %}