{% extends 'components/base_files/my_projects_and_feed.html' %}

{% load static %}

{% url 'detalhes_projetos' as project_details_url %}

{% block title %}
    Meus projetos
{% endblock title %}

{% block content %}
    {% include 'components/cards/projects_per_status.html' %}

    <div class="search_project">
        <div class="input_container">
            <img src="{% static 'img/magnifying-glass.svg' %}" alt="">
            <input type="text" placeholder="Busque por projetos, perfis ou tags...">
        </div>
        <div class="filter_btns">
            <button id="all">Todos</button>
            <button id="approved">Aprovado</button>
            <button id="pendant">Pendente</button>
            <button id="reproved">Reprovado</button>
        </div>
    </div>

    <div class="container_projects">

        {% for _ in contador_list %}
            <div class="project_card" id="project_in_my_projects">
                {% include 'components/cards/project_parts/header.html' %}

                {% include 'components/cards/project_parts/tag.html' %}

                <div class="colaborators_and_links">
                    {% include 'components/cards/project_parts/collaborators_and_docs.html' %}
                    {% include 'components/cards/project_parts/links.html' with column=True %}
                </div>

                    {% include 'components/cards/project_parts/interaction_btns.html' %}
                    
                    <div class="action_btns">
                        {% include 'components/buttons/button_base.html' with btn=False url=project_details_url classes="green" label="Ver detalhes" %}
                        <button class="edit_project">
                            <img src="{% static 'img/project_parts/edit.svg' %}" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

    {% include 'components/modals/types_projects.html' %}

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'base_files/create_project.js' %}"></script>
{% endblock extra_js %}