{% extends 'components/base_files/base_approval.html' %}
{% load static %}

{% block title %}Aprovação de Projetos{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/aprovacao.css' %}">
    <link rel="stylesheet" href="{% static 'base_files/header_createproject.css' %}">
{% endblock %}

{% block content %}

    {% include 'components/base_files/header_approval.html' %}

    <div class="main-container">
        
        <div class="top-section">
            <div class="stat-card">
                <h3>Projetos pendentes</h3>
                <span class="stat-number">2</span> </div>

            <div class="search-container">
                <div class="search-box">
                    <i class="ph ph-magnifying-glass"></i>
                    <input type="text" placeholder="Busque por nome, tag ou aluno...">
                </div>
            </div>
        </div>

        <div class="projects-grid">
            
            {% include 'components/cards/approval_card.html' %}
            
            {% include 'components/cards/approval_card.html' %}

        </div>
    </div>

    {% include 'components/modals/modal_approval.html' %}

{% endblock %}