<div class="preview-label">PREVIEW DO CARTÃO
</div>
<div class="card" id="cardPreview">
    <div class="card-header">
        <div class="card-avatar" id="cardAvatar">P</div>
        <div class="card-title-group">
            <h3 id="cardTitle">Nome do projeto</h3>
            <span class="card-date" id="cardDate">Invalid Date</span>
        </div>
    </div>

    <p class="card-desc" id="cardDesc">
        Nenhuma descrição adicionada ainda...
    </p>

    <div class="card-tags" id="cardTagsList"></div>

    <div class="card-meta">
        
        <div class="meta-row">
            <div class="meta-left">
                <i class="ph ph-users"></i>
                <span id="cardMemberCount">Integrantes: 0</span>
            </div>
            
            <a href="#" target="_blank" id="cardGithub" class="meta-link" style="display: none;">
                <i class="ph-fill ph-github-logo"></i> Ver repositório
            </a>
        </div>
        
        <div class="meta-row">
            <div class="meta-left" id="metaProfessor" style="display: none;">
                <i class="ph-fill ph-graduation-cap"></i>
                <span id="textProfessor">Professor...</span>
            </div>

            <a href="#" target="_blank" id="cardYoutube" class="meta-link" style="display: none;">
                <i class="ph ph-monitor-play"></i> Assistir vídeo
            </a>
        </div>

        <div class="meta-row">
            <div class="meta-left" id="metaDocs" style="display: none;">
                <i class="ph ph-file-text"></i>
                <span id="textDocs">0 Documento(s)</span>
            </div>
        </div>
    </div>

    <div class="card-divider"></div>

    <div class="card-footer">
        <div class="card-stats">
            <span class="span-tags"><img src="/static/img/project_parts/heart.svg" alt=""> 0</span>
            <span class="span-tags"><img src="/static/img/project_parts/comment.svg" alt=""> 0</span>
        </div>
        <button class="btn-details">Ver detalhes</button>
    </div>
</div>