    <div class="page-wrapper">
        <section class="card card-simple new-feedback-card">
            <h3>Deixe seu comentário</h3>
            <p>Compartilhe sua opinião sobre este projeto</p>
            
            <form action="#" method="post" class="feedback-form">
                <textarea placeholder="Escreva seu comentário..."></textarea>
                <button type="submit" class="btn-submit">Publicar Comentário</button>
            </form>
        </section>

        <section class="card card-simple discussion-card">
            <div class="discussion-header">
                <i class="ph ph-chat-circle-dots"></i>
                <h3>Comentários dos Usuários</h3>
                <span>3 Comentários</span>
            </div>

            <ul class="discussion-thread">
                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span> <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>
                
                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span>
                        <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>

                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span>
                        <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>
            </ul>
        </section>

    </div>