    <div class="page-wrapper">


        <section class="card card-simple discussion-card">

            <ul class="discussion-thread">
                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span> <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>
                
                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span>
                        <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>

                <li class="post-item">
                    <div class="post-author">
                        <span class="avatar">AC</span>
                        <div class="post-author-details">
                            <strong>Thiago Henrique</strong>
                            <small>01/10/2025</small>
                        </div>
                    </div>
                    <p class="post-body">
                        Excelente projeto! O front-end é brabo, a interface está perfeita.
                    </p>
                </li>
            </ul>
        </section>

    </div>