{% extends 'components/modals/modal_base.html' %}
{% load static %}

{% block status %}
    awaiting
{% endblock status %}

{% block icon %}
    {% include 'components/icons/clock.html' %}
{% endblock icon %}

{% block title %}
    Projeto enviado para Aprovação
{% endblock title %}

{% block description %}
    Seu projeto institucional foi enviado e agora está aguardando a aprovação de um professor.
    Você pode acompanhar o status e o progresso da aprovação na aba 'Meus Projetos'.
{% endblock description %}

{% block btns %}
    {% include 'components/buttons/goto_profile.html' %}
    {% include 'components/buttons/close.html' %}
{% endblock btns %}
