{% load static %}

{% url 'my_projects' as my_projects_url %}

<div class="modal-backdrop ">
    <div class="modal_status">
        <div class="icon_container {% block status %}{% endblock status %}">
            {% block icon %}{% endblock icon %}
        </div>
        <div class="title">{% block title %}{% endblock title %}</div>
        <div class="description">{% block description %}{% endblock description %}</div>

        <div class="btns">
            {% block btns %}{% endblock btns %}
        </div>  
    </div>
</div>
<style>


    .modal-backdrop {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: center;
        align-items: center; 
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        overflow-y: auto; 
        padding: 20px 0; 
    }
    
    .modal-backdrop.visible {
        opacity: 1;
        visibility: visible;
    }


    .modal_status {
        max-width: 500px;
        min-height: 350px;
        max-height: 800px;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .icon_container {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .approved {
        background-color: rgba(118, 236, 139, 0.541);
    }

    .awaiting {
        background-color: #7ebff79d;
    }

    .title {
        font-weight: 600;
        font-size: 20px;
        color: #17171C;
        text-align: center;
        width: 80%;
    }

    .description {
        font-weight: 400;
        font-size: 14px;
        color: #6D6D78;
        width: 90%;
    }

    .btns {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    @media screen and (min-width: 300px) {
        .modal_status {
            width: 90%;
            
        }
    }
</style>