{% load static %}
<div class="profile-container">
    <header class="profile-header">
            <div class="main-info">
                <img src="{% static 'img/gatoDeBotas.jpg' %}" alt="Profile picture"
                    class="profile-photo">
                <div class="profile-texts">
                    <h1 class="user-name">Nathan Manicoba</h1>
                    <p class="username">@nathan</p>
                    <p class="profile-bio">Full-stack developer and UI/UX designer passionate about creating beautiful
                        and functional experiences. Building the future one pixel at a time.</p>
                    <div class="social-links">
                        <span class="icon-stat"><i class="ph ph-map-pin-simple-area"></i></span>
                        <span class="location">Pau dos Ferros, RN</span>
                        <span class="icon-stat"><i class="ph ph-github-logo"></i></span>
                        <a href="#" class="github-link">nathan1227.github</a>
                        <span class="icon-stat"><i class="ph ph-graduation-cap"></i></span>
                        <span class="enrollment">2024109404093</span>
                    </div>
                </div>
            </div>
            <button class="edit-button">Edit profile</button>
        </header>
    </div>
