{% load static %}
<div class="profile-container">
    <section class="statistics">
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-folder-open icon-green"></i></span>
                <span class="number">12</span>
                <span class="stat-description">Total de projetos</span>
            </div>
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-eye icon-blue"></i></span>
                <span class="number">8</span>
                <span class="stat-description">Público</span>
            </div>
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-lock icon-red"></i></span>
                <span class="number">4</span>
                <span class="stat-description">Privado</span>
            </div>
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-users icon-black"></i></span>
                <span class="number">125</span>
                <span class="stat-description">Seguidores</span>
            </div>
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-chat-circle icon-blue"></i></span>
                <span class="number">86</span>
                <span class="stat-description">Comentários</span>
            </div>
            <div class="stat-card">
                <span class="icon-stat"><i class="ph ph-heart icon-red"></i></span>
                <span class="number">236</span>
                <span class="stat-description">Total de curtidas</span>
            </div>
        </section>
    </div