@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: right;
}

main {
    background-color: rgb(240, 238, 238);
    padding: 30px;
    display: flex;
    width: 80vw;
    /* justify-content: center; */
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.container_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1092px;
    gap: 30px;
}

.search_project {
    width: 1092px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
}

.input_container {
    background-color: #F4F4F6;
    width: 54%;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.input_container img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.search_project input {
    border: none;
    padding: 10px;
    background-color: transparent;
    width: 90%;
    color: #6D6D78;
}

.filter_btns {
    display: flex;
    gap: 20px;
}

.filter_btns button {
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    background-color: #F4F4F6;
}

#all {
    background-color: #50CE67;
    color: white;
    font-weight: 700;
}