{% load static %}

<div class="collaborators_and_docs">
    <div class="students_container collaborator">
        <div class="icon">
        <img src="{% static 'img/student.svg' %}" alt="">
        </div>
        <div class="students_names">Eduardo, Ayrton, Murilo, Nathan</div>
    </div>

    <div class="teacher_container collaborator">
        <div class="icon">
        <img src="{% static 'img/graduation-cap.svg' %}" alt="">
        </div>
        <div class="teacher_name">Irlan Moreira</div>
    </div>
</div>


<style>
    .collaborators_and_docs {
        display: flex;
        flex-direction: column;
        color: #6D6D78;
    }

    .collaborator {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
    }

    .collaborator img {
        width: 25px;
        height: 25px;
    }
</style>