<div class="header_feed_project">
    <div class="project_image">PH</div>
    <div class="name_project">
        <div class="name">
            {{  project.title }}
        </div>
        <div class="date">
            {{  project.updated_at|date:"d/m/Y" }}
        </div>
    </div>

    {% if show_status %}
        <div class="status_project 
        {% if project.status == 'Aprovado' %}
            status_approved
        {% elif project.status == 'Pendente' %}
            status_pending
        {% elif project.status == 'Rejeitado' %}
            status_rejected
        {% endif %}
        ">
            {{ project.status }}
        </div>
    {% endif %}
</div>