{% load static %}

<div class="links {% if not borders %}no-borders{% endif %}">
    <div class="link github">
        <div class="icon">
            <img src="{% static 'img/github-logo.svg' %}" alt="">
        </div>
        <div class="link_redirection"><a href="">Ver repositório</a></div>
    </div>

    <div class="link youtube">
        <div class="icon">
            <img src="{% static 'img/youtube-logo.svg' %}" alt="">
        </div>
        <div class="link_redirection"><a href="">Assistir vídeo</a></div>
    </div>
</div>

<style>

    .links {
        border-top: 1px solid #97979D;
        border-bottom: 1px solid #97979D;
        display: flex;
        justify-content: space-between;
        /* padding: 10px 0; */
    }

    .links.no-borders {
        border: none;
    }

    .link {
        display: flex;
        gap: 5px;
        font-size: 13px;
        align-items: center;
    }

    .link a {
        text-decoration: none;
        color: #50CE67;
    }

    .link a:hover {
        text-decoration: underline;
    }
</style>