<!-- {% if status == "Aprovado" %}
    <div class="status_project status_approved">Aprovado</div>

{% elif status == "Pendente" %}
    <div class="status_project status_pending">Pendente</div>

{% elif status == "Reprovado" %}
<div class="status_rejected_wrapper">
    <i class="ph-fill ph-warning"></i>

    <div class="status_project status_rejected">
        Reprovado
    </div>
</div>
{% endif %} -->
{% if show_status %}
    <div class="status_project {{ project.status }}">
        {{ project.status }}
    </div>
{% endif %}