<div class="tags_container">
    {% for tag in project.tags.all %}
        <div class="tag">{{ tag }}</div>
    {% endfor %}
</div>

<style>

    .tags_container {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .tag {
        background-color: #ECF9EE;
        border-radius: 8px;
        width: fit-content;
        padding: 4px 8px;
        height: 24px;
        color: #50CE67;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>