name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/backend/ifrn-projecthub
            
            git pull origin main

            source ./venv/bin/activate
    
            sudo pip install -r requirements.txt

            sudo python3 manage.py makemigrations
            sudo python3 manage.py migrate

            sudo python3 manage.py runserver 0.0.0.0:8000
            
            echo "Deploy finalizado com sucesso no EC2!"
